*{
    /* margin: 0px; */
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.homeTitle{
    position: relative;
    display: flex;
    margin-top: 25vh;
    color: #cc5720;
    font-size: 4em;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.homeBooksIcon{
    font-size: 5em;
    margin-top: -30px;
    margin-bottom: 30px;
}

/* .homeLogo{
    margin-top: 0px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
} */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(199,183,163);
    background: linear-gradient(90deg, rgba(199,183,163,1) 0%, rgba(241,241,241,1) 50%, rgba(199,183,163,1) 100%);
}

.appTitle{
    display: none;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: monospace;
    /* background-color: hsla(39, 88%, 83%, 0.918); */
    color: hsla(30, 73%, 46%, 0.589);
    border-radius: 10px;
    /* text-decoration: underline; */
}

.booksIcon{
    font-size: 3em;
    margin-bottom: 15px;
}

.courseLabel{
    font-family: monospace;
}

/* .pageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle{
    height:20px;
    margin-bottom: 10px;
} */

/* .menu{
    height: 30px;
    width: 75px;
    border-radius: 8px;
    margin-bottom: 15px;
} */

.dropdown{
    display: inline-block;
}

.dropdown button{
    margin-bottom: 0px;
    background-color: aquamarine;
    height: 30px;
    font-weight: bold;
    width: auto;
    min-width: 75px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}

.dropdown .selections{
    display: none;
    /* z-index: 50; */
    position: absolute;
    background-color: hsl(203, 98%, 70%);
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.80);
}

.dropdown:hover .selections{
    display: block;
}

.dropdown button:hover{
    background-color: hsl(160, 100%, 60%);
}

.dropdown a:hover{
    background-color: hsl(203, 98%, 80%);
}

.subContainer{
    margin-top: 15px;
    background-color: #27374D;
    color: white;
    border: 4px solid black;
    border-radius: 10px;
    width: 500px;
    height: 275px;
    box-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.575);
}

.contentDisplay{
    background-color: #526D82;
    margin: auto;
    font-size: 1.05em;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    width: 400px;
    height: 175px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonRow{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}

.showButton{
    background-color: #00818A;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    cursor: pointer;
}

.showButton:hover{
    background-color: hsl(184, 100%, 37%) ;
}