*{
    margin: 0px;
    /* margin-left: 20px;
    margin-right: 20px; */
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.navBookIcon{
    margin-right: auto;
    font-size: 32px;
    padding-left: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 15px;

}

nav li{
    height: 50px;
}

nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 25px;
    height: 100%;
    color: hsl(221, 56%, 30%);
}

nav a:hover{
    background-color: hsl(0, 10%, 94%);
}

.sidebar{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

}

.sidebar li{
    width: 100%;
}

/* .sidebar a{
    width: 100%;
} */

/* .menu-button{
    display: none;
} */

.homeWrapper{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border: 3px solid black; */
    width: 500px;
    height: 300px;
    padding-bottom: 60px;
    /* box-shadow: 20px 20px 5px hsla(0, 0%, 0%, 0.575);
    background-color: rgb(189, 187, 187);
    border-radius: 15px; */
    background-color: rgba(225, 225, 225, 0.1, rgba(225, 225, 225, 0.0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;  
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.80); 
}

.homeTitle{
    position: relative;
    display: flex;
    /* margin-top: 25vh; */
    /* color: hsl(199, 73%, 46%); */
    color: hsl(215, 33%, 43%);
    font-size: 4em;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-decoration: none;
}

/* .homeBooksIcon{
    font-size: 5em;
    margin-top: -30px;
    margin-bottom: 30px;
} */

.homeLogo{
    margin-top: -30px;
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: rgb(199,183,163);
    background: linear-gradient(90deg, rgba(199,183,163,1) 0%, rgba(241,241,241,1) 50%, rgba(199,183,163,1) 100%); */
    background: rgb(170,168,168);
    background: linear-gradient(90deg, rgba(170,168,168,1) 0%, rgba(255,255,255,1) 50%, rgba(170,168,168,1) 100%);
}

.appTitle{
    display: none;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: monospace;
    /* background-color: hsla(39, 88%, 83%, 0.918); */
    color: hsla(30, 73%, 46%, 0.589);
    border-radius: 10px;
    /* text-decoration: underline; */
}

.booksIcon{
    font-size: 2em;
    margin-bottom: 15px;
}

.courseLabel{
    font-family: monospace;
}


.dropdown{
    display: inline-block;
}

.dropdown button{
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: hsl(160, 100%, 45%);
    height: 30px;
    font-weight: bold;
    width: auto;
    min-width: 75px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}

.dropdown .selections{
    display: none;
    /* z-index: 50; */
    position: absolute;
    background-color: hsl(203, 98%, 70%);
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.80);
}

.dropdown:hover .selections{
    display: block;
}

.dropdown button:hover{
    background-color: hsl(160, 100%, 60%);
}

.dropdown a:hover{
    background-color: hsl(203, 98%, 80%);
}

.subContainer{
    margin-top: 15px;
    padding-top: 15px;
    background-color: #27374D;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 475px;
    height: 230px;
    box-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.575);
}

.contentDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #526D82;
    margin: auto;
    font-size: 1.05em;
    border: 1px solid black;
    border-radius: 4px;
    width: 400px;
    height: 175px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonRow{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}

.showButton{
    background-color: #00818A;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    cursor: pointer;
}

.showButton:hover{
    background-color: hsl(184, 100%, 37%) ;
}

/* @media(max-width: 500px){
    .hideOnMobile{
        display: none;
    }
} */

@media(max-width: 450px){
    .sidebar{
        /* display: flex;
        flex-direction: column; */
        width: 95%;
    }
}

